

<!DOCTYPE html>
<html>
<head>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
</head>
<body>

<h1>My Page</h1>
<p>Some paragraph.</p>
<video id="playerVideo" width="320" height="240" autoplay="autoplay" muted>
  Your browser does not support the video tag.
</video><br>
<span id="blobURL"></span><br>
<span id="download"></span>
<br><br>
<video controls="" preload="auto" id="_video"></video>


<p id="cc">{{ oki }}</p>
<video controls="" autoplay="autoplay" id="aaaaa" style="border:2px solid blue;"></video>


</body>
</html>





<a href="">Download</a>

<script>

const yoyo = document.getElementById("cc").innerHTML;

document.getElementById("aaaaa").src = yoyo;









function setVideo(blob)
{
  var url = URL.createObjectURL(blob);
	var video = document.getElementById('playerVideo');
	video.type = "video/mp4";
	video.src = url;
	video.load();
	download(url);
        uploadAudio(blob)
}
	
function download(blob_url)
{
	var fileName = "video.mp4";
	var a = document.createElement('a');
	a.href        = blob_url;
	a.download    = fileName;
        a.id          = "coucou";
	a.textContent = "DOWNLOAD " + fileName;
	document.getElementById('blobURL').innerHTML = "BLOB URL: <b>"+blob_url+"</b>";
	document.getElementById('download').appendChild(a);

        var b = document.getElementById('coucou').click();
        console.log(b)


}

$(document).ready(function(){
 var xhr = new XMLHttpRequest();
 xhr.responseType = 'blob';

 xhr.onload = function() {
  setVideo(xhr.response);
 };

 xhr.open('GET', 'blob:http://127.0.0.1:8000/4311eda7-7ef5-4870-8b9d-5ddeed1602ee');
 xhr.send();

});
























            function uploadAudio(mp3Data){
		var reader = new FileReader();
		reader.onload = function(event){
			var fd = new FormData();
			var mp3Name = encodeURIComponent('audio_recording_' + new Date().getTime() + '.mp4');
			console.log("mp3name = " + mp3Name);
			fd.append('fname', mp3Name);
			fd.append('data', event.target.result);
			$.ajax({
				type: 'POST',
                                headers: { "X-CSRFToken": getCookie("csrftoken") },
				url: 'download',
				data: fd,
				processData: false,
				contentType: false
			}).done(function(data) {
				console.log(data);

			});
		};      
		reader.readAsDataURL(mp3Data);
	}











    function getCookie(c_name)
    {
        if (document.cookie.length > 0)
        {
            c_start = document.cookie.indexOf(c_name + "=");
            if (c_start != -1)
            {
                c_start = c_start + c_name.length + 1;
                c_end = document.cookie.indexOf(";", c_start);
                if (c_end == -1) c_end = document.cookie.length;
                return unescape(document.cookie.substring(c_start,c_end));
            }
        }
        return "";
     }















































</script>
