{% load static %}
<!DOCTYPE html>
    <html lang="en-GB" prefix="og: http://ogp.me/ns#" class="js">
        
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
            {% include "header/Garde_header.html" %}
        </head>


        <body class="home page-template page-template-page-home page-template-page-home-php
                page page-id-2 elementor-default elementor-page elementor-page-2">


            {% include "navebarre/navebarre_une.html" %}
 
            <a href="https://longstoryshortdesign.co.uk/contact" class="contact-button">
                Accès au site
            </a>

                                                                                                                                                                                                      
            <div class="home-section-top home-section full-section" data-section-name="home-top"
                data-colour="#1a1a1a" id="section1">

                <div class="home-intro">                                                                                                                                                                                                                       
                    <h1>S Y N E R G O </h1>                                                                                                                                                                                                                           
                </div>
            </div>




        <div class="next-slide">
            <svg viewBox="0 0 49.5 10.06"><line class="a" y1="5.03" x2="48.3" y2="5.03" />
                <path class="b"
                    d="M41.46,9.83a.49.49,0,0,1,.16-.69L48.07,5,41.62.92a.49.49,0,0,1-.16-.69.5.5,0,0,1,.69-.15l7.12,4.53a.5.5,0,0,1,0,.
                    84L42.15,10a.42.42,0,0,1-.26.08A.51.51,0,0,1,41.46,9.83Z" />
            </svg>
        </div>















<div class="home-section-services home-section full-section" data-section-name="home-services" data-colour="#1a1a1a" id="section3">
<div class="home-section-services-inner h-100 d-flex align-items-center">
<div class="container">
<div class="row">
<div class="col-12 home-section-service-intro mb-0 text-left">
<p>We’re a digital design agency, we help brands define & deliver their story. We build websites, brands & marketing campaigns for clients all over the world.</p>
</div>

                                                                                                                                                                                                                                          


<div class="service-section pt-2 pt-lg-25 col-12 col-lg-4 d-flex align-items-start justify-content-start flex-column text-left">
    <h4>Digital</h4>
    <ul>
        <li>Website design & development</li>
        <li>eCommerce design & development</li>
        <li>User Experience & Interface Design</li>
        <li>User Journey Design</li>
        <li>Custom Animation</li>
        <li>Digital strategy</li>
    </ul>
</div>



<div class="service-section pt-2 pt-lg-25 col-12 col-lg-4 d-flex align-items-start justify-content-start flex-column text-left">
    <h4>Design &amp; Branding</h4>
    <ul>
        <li>Art Direction</li>
        <li>Brand Identity</li>
        <li>Brand Strategy</li>
        <li>Tone of Voice</li>
        <li>Graphic Design</li>
        <li>Print Design</li>
        <li>Illustration & Infographics</li>
        <li>Packaging Design</li>
    </ul>
</div>






<div class="service-section pt-2 pt-lg-25 col-12 col-lg-4 d-flex align-items-start justify-content-start flex-column text-left">
    <h4>Marketing</h4>
    <ul>
        <li>Digital Marketing Campaigns</li>
        <li>Social Media Marketing</li>
        <li>Email Marketing</li>
        <li>Online Advertising / PPC</li>
        <li>Search Engine Optimising</li>
        <li>Marketing strategy</li>
        <li>Content creation</li>
    </ul>
</div>


</div>
</div>
</div>
</div>





<div class="projects" data-position="0">
    <div class="project-item related-project-1 full-section " id="section4" data-id="1867"
        data-slug="trinity-theatre" data-section-name="trinity-theatre" data-colour="#05191b" data-index="1" style="color: #ffffff;">
        <span class="right-border"></span>
        <div class="back-arrow"></div>
        <div class="project-info">
            <div class="project-info-wrap">
                                                                                                                                                                                                                                          
                <h2><a href="https://longstoryshortdesign.co.uk/projects/trinity-theatre" class="view-project">
                    Trinity Theatre</a></h2>
                <p>Design & development of a new website with integrated ticketing for the theatre</p>
                <a class="view-project view-project-button new-button" href="https://longstorysh
                    ortdesign.co.uk/projects/trinity-theatre">View Project <span><svg viewBox="0 0 49.5 10.06">
            <line class="a" y1="5.03" x2="48.3" y2="5.03" /><path class="b" d="M41.46,9.83a.49.49,0,0,1,.16-.
            69L48.07,5,41.62.92a.49.49,0,0,1-.16-.69.5.5,0,0,1,.69-.15l7.12,4.53a.5.5,0,0,1,0,.84L42.15,10a.42.42,0,0,1-.26.08A.51.51,0,0,1,41.46,9.83Z" />
            </svg><svg class="second-arrow" viewBox="0 0 49.5 10.06">
            <line class="a" y1="5.03" x2="48.3" y2="5.03" />
            <path class="b" d="M41.46,9.83a.49.49,0,0,1,.16-.69L48.07,5,41.62.92a.49.49,0,0,1-.16-.69.5.5,0,0,1,.
        69-.15l7.12,4.53a.5.5,0,0,1,0,.84L42.15,10a.42.42,0,0,1-.26.08A.51.51,0,0,1,41.46,9.83Z" /></svg></span></a>

    </div>
</div>

<div class="project-img view-project" style="background-image: url(https://longstoryshortdesign.co.uk/wp-content/uploads/2018/02/Lss-Trintiy-Header.jpg);"
    href="https://longstoryshortdesign.co.uk/projects/trinity-theatre">

</div>
</div>












                                                                                                                                                                                                                                          
<div class="project-item related-project-2 full-section " id="section5" data-id="299" data-slug="mc-saatchi"
    data-section-name="mc-saatchi" data-colour="#c2d8c7" data-index="2" style="color: #ffffff;">


    <span class="right-border"></span>
    <div class="back-arrow"></div>
    <div class="project-info">
        <div class="project-info-wrap">

            <h2><a href="https://longstoryshortdesign.co.uk/projects/mc-saatchi" class="view-project">M&#038;C Saatchi</a></h2>
            <p>Creating a website as industry leading as the work it displays</p>


            <a class="view-project view-project-button new-button" href="https://longstoryshortdesign.co.uk/projects/mc-saatchi">
                 View Project <span><svg viewBox="0 0 49.5 10.06"><line class="a" y1="5.03" x2="48.3" y2="5.03" />
                <path class="b" d="M41.46,9.83a.49.49,0,0,1,.16-.69L48.07,5,41.62.92a.49.49,0,0,1-.16-.69.5.5,0,0,1,.69-.15l7.
                12,4.53a.5.5,0,0,1,0,.84L42.15,10a.42.42,0,0,1-.26.08A.51.51,0,0,1,41.46,9.83Z" />
                </svg><svg class="second-arrow" viewBox="0 0 49.5 10.06">
                 <line class="a" y1="5.03" x2="48.3" y2="5.03" />
                <path class="b" d="M41.46,9.83a.49.49,0,0,1,.16-.69L48.07,5,41.62.92a.49.49,0,0,1-.16-.69.5.5,0
                ,0,1,.69-.15l7.12,4.53a.5.5,0,0,1,0,.84L42.15,10a.42.42,0,0,1-.26.08A.51.51,0,0,1,41.46,9.83Z" />
            </svg></span></a>
    </div>
</div>
<div class="project-img view-project" style="background-image: url(https://longstoryshortdesign.co.uk/wp-content/uploads/2017/03/mc-saatchi-hero-home.jpg);
    " href="https://longstoryshortdesign.co.uk/projects/mc-saatchi">
    <div class="next-text">
        <div class="next-text-inner">
            <h4>Next Project</h4>
            <h2>M&#038;C Saatchi</h2>
        </div>
    </div>
</div>
</div>
                                                                                                                                                                                                                                          






<div class="project-item related-project-3 full-section " id="section6" data-id="240" data-slug="victoria-miro"
    data-section-name="victoria-miro" data-colour="#95a1a8" data-index="3" style="color: #ffffff;">
    <span class="right-border"></span>
    <div class="back-arrow"></div>
        <div class="project-info">
            <div class="project-info-wrap">
                <h2><a href="https://longstoryshortdesign.co.uk/projects/victoria-miro"
                    class="view-project">Victoria Miro</a>
                </h2>

                <p>Designing a website in partnership with Artlogic for the prestigious gallery</p>
                <a class="view-project view-project-button new-button" href="https://longstoryshortdesign.co.uk/projects/victoria-miro">
                    View Project <span><svg viewBox="0 0 49.5 10.06"><line class="a" y1="5.03" x2="48.3" y2="5.03" />
                    <path class="b" d="M41.46,9.83a.49.49,0,0,1,.16-.69L48.07,5,41.62.92a.49.49,0,0,1-.16-.69.5.5
                    ,0,0,1,.69-.15l7.12,4.53a.5.5,0,0,1,0,.84L42.15,10a.42.42,0,0,1-.26.08A.51.51,0,0,1,41.46,9.83Z" />
                    </svg><svg class="second-arrow" viewBox="0 0 49.5 10.06"><line class="a" y1="5.03" x2="48.3" y2="5.03" />
                    <path class="b" d="M41.46,9.83a.49.49,0,0,1,.16-.69L48.07,5,41.62.92a.49.49,0,0,1-.16-.69.5.5,0,0,1,.69-.15l7.12,
                    4.53a.5.5,0,0,1,0,.84L42.15,10a.42.42,0,0,1-.26.08A.51.51,0,0,1,41.46,9.83Z" /></svg></span>
                </a>
            </div>
        </div>
<div class="project-img view-project" style="background-image: url(https://longstoryshortdesign.co.uk/wp-content/uploads
    /2019/01/victoria-miro-hero-Home.jpg);" href="https://longstoryshortdesign.co.uk/projects/victoria-miro">
    <div class="next-text">
        <div class="next-text-inner">
            <h4>Next Project</h4>
            <h2>Victoria Miro</h2>
        </div>
    </div>
</div>
</div>








<div class="project-item related-project-4 full-section " id="section7" data-id="382"
    data-slug="frida-beauty" data-section-name="frida-beauty" data-colour="#d1d1d1" data-index="4" style="color: #ffffff;">
    <span class="right-border"></span>
    <div class="back-arrow"></div>
<div class="project-info">
<div class="project-info-wrap">
<h2><a href="https://longstoryshortdesign.co.uk/projects/frida-beauty" class="view-project">Frida Beauty</a></h2>
<p>A editorial style led cosmetics brand and eCommerce store design</p>
<a class="view-project view-project-button new-button" href="https://longstoryshortdesign.co.uk/projects/frida-beauty">View Project <span><svg viewBox="0 0 49.5 10.06"><line class="a" y1="5.03" x2="48.3" y2="5.03" /><path class="b" d="M41.46,9.83a.49.49,0,0,1,.16-.69L48
    .07,5,41.62.92a.49.49,0,0,1-.16-.69.5.5,0,0,1,.69-.15l7.12,4.53a.5.5,0,0,1,0,.84L42.15,10a.42.42,0,0,1-.26.08A.51.51,0,0,1,41.46,9.83Z" />
</svg><svg class="second-arrow" viewBox="0 0 49.5 10.06"><line class="a" y1="5.03" x2="48.3" y2="5.03" />
<path class="b" d="M41.46,9.83a.49.49,0,0,1,.16-.69L48.07,5,41.62.92a.49.49,0,0,1-.16-.69.5.5,0,0,1,.69-.15l7.12,4
.53a.5.5,0,0,1,0,.84L42.15,10a.42.42,0,0,1-.26.08A.51.51,0,0,1,41.46,9.83Z" /></svg></span></a>
</div>
</div>
<div class="project-img view-project" style="background-image: url(https://longstoryshortdesign.co.uk/wp-content
 /uploads/2017/03/frida-beauty-product-Main-Header.jpg);" href="https://longstoryshortdesign.co.uk/projects/frida-beauty">
<div class="next-text">
<div class="next-text-inner">
<h4>Next Project</h4>
<h2>Frida Beauty</h2>
</div>
</div>
</div>
</div>

                                                                                                                                                                                                                                                 





<div class="project-item related-project-5 full-section " id="section8" data-id="2080" data-slug="frida-beauty-2" data-section-name="frida-beauty-2" data-colour="#151d23" data-index="5" style="color: #ffffff;">
<span class="right-border"></span>
<div class="back-arrow"></div>
<div class="project-info">
<div class="project-info-wrap">
<h2><a href="https://longstoryshortdesign.co.uk/projects/frida-beauty-2" class="view-project">Helen Maybanks</a></h2>
<p>A super minimal website to showcase a world class portfolio</p>
<a class="view-project view-project-button new-button" href="https://longstoryshortdesign.co.uk/projects/frida-beauty-2">View Project
     <span><svg viewBox="0 0 49.5 10.06"><line class="a" y1="5.03" x2="48.3" y2="5.03" /><path class="b"
     d="M41.46,9.83a.49.49,0,0,1,.16-.69L48.07,5,41.62.92a.49.49,0,0,1-.16-.69.5.5,0,0,1,.69-.15l7.12,4.53a.5.5,0,0,1,0,.84L42.15,10a.4
     2.42,0,0,1-.26.08A.51.51,0,0,1,41.46,9.83Z" /></svg><svg class="second-arrow" viewBox="0 0 49.5 10.06"><line class="a" y1="5.03"
     x2="48.3" y2="5.03" /><path class="b" d="M41.46,9.83a.49.49,0,0,1,.16-.69L48.07,5,41.62.92a.49.49,0,0,1-.16-.69.5.5,0,0,1,.69-.1
     5l7.12,4.53a.5.5,0,0,1,0,.84L42.15,10a.42.42,0,0,1-.26.08A.51.51,0,0,1,41.46,9.83Z" /></svg></span></a>
</div>
</div>
<div class="project-img view-project" style="background-image: url(https://longstoryshortdesign.co.uk/wp-content/uploads/2019/01/
     Helen-Maybanks-Dance-Image-Home.jpg);" href="https://longstoryshortdesign.co.uk/projects/frida-beauty-2">
<div class="next-text">
<div class="next-text-inner">
<h4>Next Project</h4>
<h2>Helen Maybanks</h2>
</div>
</div>
</div>
</div>



<div class="project-item related-project-6 full-section last-project" id="section9" data-id="1777" data-slug="smashburger"
 data-section-name="smashburger" data-colour="#0d0e10" data-index="6" style="color: #ffffff;">
<span class="right-border"></span>
<div class="back-arrow"></div>
<div class="project-info">
<div class="project-info-wrap">
<h2><a href="https://longstoryshortdesign.co.uk/projects/smashburger" class="view-project">Smashburger</a></h2>
<p>Managing digital and physical campaigns for the American burger chain</p>
<a class="view-project view-project-button new-button" href="https://longstoryshortdesign.co.uk/projects/smashburger">
    View Project <span><svg viewBox="0 0 49.5 10.06"><line class="a" y1="5.03" x2="48.3" y2="5.03" />
    <path class="b" d="M41.46,9.83a.49.49,0,0,1,.16-.69L48.07,5,41.62.92a.49.49,0,0,1-.16-.69.5.5,0,0,1,.69-.15l7.12,4.
     53a.5.5,0,0,1,0,.84L42.15,10a.42.42,0,0,1-.26.08A.51.51,0,0,1,41.46,9.83Z" /></svg><svg class="second-arrow" viewBox="0 0 49.5 10.06">
    <line class="a" y1="5.03" x2="48.3" y2="5.03" /><path class="b" d="M41.46,9.83a.49.49,0,0,1,.16-.69L48.07,5,41.62.92a.49.
     49,0,0,1-.16-.69.5.5,0,0,1,.69-.15l7.12,4.53a.5.5,0,0,1,0,.84L42.15,10a.42.42,0,0,1-.26.08A.51.51,0,0,1,41.46,9.83Z" /></svg></span></a>
</div>
</div>
<div class="project-img view-project" style="background-image: url(https://longstoryshortdesign.co.uk/wp-content/uploads/2018/01/LSS-Smashburger-Wesbite-Image.jpg);"
  href="https://longstoryshortdesign.co.uk/projects/smashburger">
<div class="next-text">
<div class="next-text-inner">
<h4>Next Project</h4>
<h2>Smashburger</h2>
</div>
</div>
</div>
</div>
</div>




<div class="home-section-agency home-section full-section" data-section-name="home-agency" data-colour="#1a1a1a" id="section10">
<div class="home-section-inner container-fluid h-100 d-flex align-items-center">
<div class="row">
<div class="col-12 col-lg-4 mb-5 mb-lg-0 d-flex align-items-center justify-content-center flex-column text-center">
<h2>Our Agency</h2>
<p>We're an award winning digital design agency specialising in high quality brochure sites, eCommerce, digital marketing, branding & design. We work primarily in Wordpress, Shopify & Magento. We manage social media campaigns for national chains, develop brand identity & strategy for start-ups, & build eCommerce sites for established businesses worldwide. We build beautiful.</p>
<img src="https://longstoryshortdesign.co.uk/wp-content/uploads/2019/01/awards-logos.png" alt="Award logos">
<a class="new-button" href="https://longstoryshortdesign.co.uk/about">More about us<span><svg viewBox="0 0 49.5 10.06"><line class="a" y1="5.03" x2="48.3" y2="5.03" /><path class="b" d="M41.46,9.83a.49.49,0,0,1,.16-.69L48.07,5,41.62.92a.49.49,0,0,1-.16-.69.5.5,0,0,1,.69-.15l7.12,4.53a.5.5,0,0,1,0,.84L42.15,10a.42.42,0,0,1-.26.08A.51.51,0,0,1,41.46,9.83Z" /></svg><svg class="second-arrow" viewBox="0 0 49.5 10.06"><line class="a" y1="5.03" x2="48.3" y2="5.03" /><path class="b" d="M41.46,9.83a.49.49,0,0,1,.16-.69L48.07,5,41.62.92a.49.49,0,0,1-.16-.69.5.5,0,0,1,.69-.15l7.12,4.53a.5.5,0,0,1,0,.84L42.15,10a.42.42,0,0,1-.26.08A.51.51,0,0,1,41.46,9.83Z" /></svg></span></a>
</div>
<div class="col-12 col-lg-8 text-right">
<img class="margin-left: auto;" src="https://longstoryshortdesign.co.uk/wp-content/uploads/2019/01/Long-Story-Short-Design-Agency-Brighton.jpg" alt="Long Story Short Design Digital Office in Brighton">
</div>
</div>
</div>
</div>
</div>
</div>


















                                                                                                                                                                                                                  
<script>

  var _gaq=[["_setAccount","UA-24231875-1"],["_trackPageview"]];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
  g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
  s.parentNode.insertBefore(g,s)}(document,"script"));

</script>
<script>

  var chimpPopupLoader = document.createElement("script");
  chimpPopupLoader.src = 'https://downloads.mailchimp.com/js/signup-forms/popup/embed.js';
  chimpPopupLoader.setAttribute('data-dojo-config', 'usePlainJson: true, isDebug: false');

  function showMailingPopUp() {
    require(["mojo/signup-forms/Loader"],function(L) {L.start({"baseUrl":"mc.us4.list-manage.com","uuid":"5e141d0fba4a1e0cd8eeb8f76","lid":"ba10b93725"})});
    document.cookie = 'MCPopupClosed=;path=/;expires=Thu, 01 Jan 1970 00:00:00 UTC;';
    document.cookie = 'MCPopupSubscribed=;path=/;expires=Thu, 01 Jan 1970 00:00:00 UTC;';
  }

  jQuery(window).on("load", function() {

    document.body.appendChild(chimpPopupLoader);

    jQuery(".newsletter-one").on('click', function(event){
      event.preventDefault();
      showMailingPopUp();
    });

  });

</script>
</body>
</html>






<style type="text/css" id="wp-custom-css">

    .cta-row-one h2 {	
            z-index: 1;
    }

    @media (max-height: 800px) and (min-width: 1000px) {

    .main-menu div.main-menu-wrap {
        padding: 60px 0;
    }

    .main-menu div.main-menu-wrap .main-menu-links {
        align-items: flex-start;
    }

    }

    @media (max-width: 1000px) {

    .extra-menu-links {
            display: none;
    }

    }

    .cta-row-one .h2 {
    font-family: 'playfair display';
    }

    .menu-footer-container .menu {
    margin-top: 0;
    }

    .single-services .back-arrow-button {
    display: none;
    }

    .section-cta .cta-row-one h4 {
            font-family: 'proxima nova';
                    letter-spacing: 4px !important;
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 600 !important;
    }

    .project-list .view-project-button {
            display: none;
    }
</style>
