<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Active Slide - fullPage.js</title>
    <meta name="author" content="Matthew Howell" />
    <meta name="description" content="fullPage continuous scrolling demo." />
    <meta name="keywords"  content="fullpage,jquery,demo,scroll,loop,continuous" />
    <meta name="Resource-type" content="Document" />
</head>

<body>



    <div id="fullpage">


        {% include "home_composition/sections/section1/section1.html" %}

        {% include "home_composition/sections/section2/section2.html" %}



        <div class="section" id="section3">
            {% include "home_composition/sections/section3/section3.html" %}
        </div>

        <div class="section" id="section4">
        </div>

        <div class="section" id="section5">
            <h1>YOOOOOOOOO</h1>
        </div>

        <div class="section" id="section6">
            <h1>coucou</h1>
        </div>


        <div class="section" id="section7">
            <h1>Section 3</h1>
            fleche qui tourne
        </div>


    </div>










</body>
</html>








<style>


body{
    font-family: playfair display;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}


.section{
    text-align:center;
    width:100%;
    border:1px solid transparent;
}
a{
    color:white;
    text-decoration:none;
}
</style>






<script type="text/javascript" src="/static/Home/js/fullpage.js"></script>

<script type="text/javascript">
    //sectionsColor: ['#1A1A1A', '#1A1A1A', '#7BAABE', 'whitesmoke', '#ccddff'],
    var myFullpage = new fullpage('#fullpage', {
        sectionsColor: ['#1A1A1A', '#1A1A1A', '#7BAABE', 'whitesmoke', '#ccddff'],
        anchors: ['firstPage', 'secondPage', '3rdPage', '4thpage', 'dzad', 'cxwcw', 'lastPage'],


    });
    
</script>



<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>

<script>
    //DEFILEMENT DE LA PAGE

    $(document).ready(function(){
        // au clic sur un lien
        $('a[href^="#"]').click(function(evt){
           // bloquer le comportement par défaut: on ne rechargera pas la page
           evt.preventDefault(); 
           // enregistre la valeur de l'attribut  href dans la variable target
     var target = $(this).attr('href');
           /* le sélecteur $(html, body) permet de corriger un bug sur chrome 
           et safari (webkit) */
     $('html, body')
           // on arrête toutes les animations en cours 
           .stop()
           /* on fait maintenant l'animation vers le haut (scrollTop) vers 
            notre ancre target */
           .animate({scrollTop: $(target).offset().top}, 1000 );
        });
    });

</script>
