
{% load static %}



<!DOCTYPE html>
<html>
 <head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
   <title> Synergo </title>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 </head>

 <body>
 


    <h1>Video Uploader</h1>
    <form enctype="multipart/form-data" method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Upload"/>
    </form>


    <video width='400' controls>
    <source src='{{ MEDIA_URL }}{{ videofile }}' type='video/mp4'>
        Your browser does not support the video tag.
    </video>



</body>

 </body>


</html>







<style>


</style>


<script>

</script>



