            <header id="header">
                <div class="burger-wrap">
                    <div class="burger main-menu-link">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </header>




        <div class="main-menu overlay overlay">
            <div class="main-menu-wrap">
                <div class="main-menu-links">
                    <div class="menu-main-container">
                         <ul id="menu-main" class="menu">
                             <li id="menu-item-88" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home
                                current-menu-item page_item page-item-2 current_page_item menu-item-88">
                                <a href="https://longstoryshortdesign.co.uk/" aria-current="page">Home</a>
                             </li>

                            <li id="menu-item-146" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-146">
                                <a href="https://longstoryshortdesign.co.uk/services">Services</a></li>
                            <li id="menu-item-161" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-161"><a href="https://longstoryshortdesign.co.uk/projects">Projects</a></li>
                            <li id="menu-item-1097" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1097"><a href="https://longstoryshortdesign.co.uk/about">About</a></li>
                            <li id="menu-item-2222" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2222"><a href="https://longstoryshortdesign.co.uk/blog">Blog</a></li>
                            <li id="menu-item-101" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-101"><a href="https://longstoryshortdesign.co.uk/contact">Contact</a></li>
                        </ul>
                     </div>


                    <ul class="extra-menu-links">
                        <li><a href="https://longstoryshortdesign.co.uk/client-login">Client Login</a></li>
                        <li><a id="open-popup" href="#" onclick="showMailingPopUp(); return false;">Follow Us</a></li>
                        <li><a href="https://longstoryshortdesign.co.uk/terms-conditions">Terms</a></li>
                    </ul>
                </div>
            </div>
        </div>
