

<div class="section3_part2_page" id="section3_part2_part3">




    <div id="aa" onclick="scrolling('false', 'true', '#section3_part2_part3', '#section3_part2_part2')">
        <span id="span4">Page précédente</span>
    </div>


    <p>Essayez vous verrez</p>



    <button type="button">Avec une vidéo téléchargée.</button>
    <button type="button">Avec ma caméra.</button>

    
    <img style="width:20%; height:20%;border:2px solid black;" src="{% url 'videostream' stream_path='video' %}">
    {% include "upload/Upload.html" %}

















</div>


<style>
    #span4{
        cursor:pointer;
    }

</style>






















