



<div class="home-section-services home-section full-section"
    data-section-name="home-services" data-colour="#1a1a1a" id="technicSection">

    
    <div class="home-section-services-inner h-100 d-flex align-items-center">

        <div class="container">
            <div class="row">
  
                <div class="col-12 home-section-service-intro mb-0 text-left">
                    <p>
                        Nos techniques.
                    </p>
                </div>

                <div class="service-section pt-2 pt-lg-25 col-12 col-lg-4 d-flex align-items-start
                    justify-content-start flex-column text-left">

                    <a href="#eyesSection" class="scroll">Les Yeux</a>
                    <ul>
                        <li>Détection de la pupille</li>
                        <li>Clignement des yeux</li>
                        <li>Suivis des mouvements des yeux</li>
                    </ul>
                </div>

                <div class="service-section pt-2 pt-lg-25 col-12 col-lg-4 d-flex align-items-start
                    justify-content-start flex-column text-left">
    
                    <a href="#headSection" class="scroll">La tête</a>
                    <ul>
                        <li>Inclinaison</li>
                        <li>Mouvements verticaux et horrizontaux</li>
                        <li>Zones extérieurs de la tête</li>
                    </ul>
                </div>


                <div class="service-section
                    pt-2 pt-lg-25 col-12 col-lg-4 d-flex
                    align-items-start justify-content-start flex-column text-left">
                    
                    <a href="#faceSection" class="scroll">La figure</a>
                    <ul>
                        <li>Découpage de la figure en zone</li>
                        <li>Détection du toucher dans ces zones</li>
                        <li>Détection des émotions</li>
                        <li>Les Rides</li>
                    </ul>
                </div>

    
                <div class="service-section
                    pt-2 pt-lg-25 col-12 col-lg-4 d-flex align-items-start
                    justify-content-start flex-column text-left">

                    <a href="#handSection" class="scroll">Les mains</a>
                    <ul>
                        <li>Détection de la main</li>
                        <li>Traitement du squelette</li>
                        <li>Application du squelette</li>
                        <li>Analyse des doigts</li>

                    </ul>
                </div>


                <div class="service-section pt-2 pt-lg-25 col-12 col-lg-4 d-flex align-items-start
                    justify-content-start flex-column text-left">
                    
                    <a href="#langageSection" class="scroll">Le langage</a>
                    <ul>
                        <li>None</li>
                        <li>None</li>
                        <li>None</li>
                        <li>None</li>
                        
                    </ul>
                </div>
                <div class="service-section pt-2 pt-lg-25 col-12 col-lg-4 d-flex align-items-start justify-content-start flex-column text-left">

                    <a href="#dataSection" class="scroll">Croisement des données</a>
                    <ul>
                        <li>None</li>
                        <li>None</li>
                        <li>None</li>
                        <li>None</li>
                    </ul>
                </div>
                

             
            </div>
            
        </div>
        
    </div>




</div>


<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>


<script>
    //DEFILEMENT DE LA PAGE

    $(document).ready(function(){
        // au clic sur un lien
        $('a[href^="#"]').click(function(evt){
           // bloquer le comportement par défaut: on ne rechargera pas la page
           evt.preventDefault(); 
           // enregistre la valeur de l'attribut  href dans la variable target
     var target = $(this).attr('href');
           /* le sélecteur $(html, body) permet de corriger un bug sur chrome 
           et safari (webkit) */
     $('html, body')
           // on arrête toutes les animations en cours 
           .stop()
           /* on fait maintenant l'animation vers le haut (scrollTop) vers 
            notre ancre target */
           .animate({scrollTop: $(target).offset().top}, 1000 );
        });
    });

</script>
