

<div class="home-section-services home-section full-section" data-section-name="home-services" data-colour="#1a1a1a" id="section3">
    <div class="home-section-services-inner h-100 d-flex align-items-center">

        <div class="container">
            <div class="row">
  
                <div class="col-12 home-section-service-intro mb-0 text-left">
                    <p>
                        Nos techniques.
                    </p>
                </div>

                <div class="service-section pt-2 pt-lg-25 col-12 col-lg-4 d-flex align-items-start
                    justify-content-start flex-column text-left">

                    <a href="#eyesSection" class="scroll">Les Yeux</a>
                    <ul>
                        <li>Détection de la pupille</li>
                        <li>Clignement des yeux</li>
                        <li>Suivis des mouvements des yeux</li>
                    </ul>
                </div>

                <div class="service-section pt-2 pt-lg-25 col-12 col-lg-4 d-flex align-items-start
                    justify-content-start flex-column text-left">
    
                    <h4 href="">La tête</h4>
                    <ul>
                        <li>Inclinaison</li>
                        <li>Mouvements verticaux et horrizontaux</li>
                        <li>Zones extérieurs de la tête</li>
                    </ul>
                </div>


                <div class="service-section
                    pt-2 pt-lg-25 col-12 col-lg-4 d-flex
                    align-items-start justify-content-start flex-column text-left">
                    
                    <h4 href="">La figure</h4>
                    <ul>
                        <li>Découpage de la figure en zone</li>
                        <li>Détection du toucher dans ces zones</li>
                        <li>Détection des émotions</li>
                        <li>Les Rides</li>
                    </ul>
                </div>

    
                <div class="service-section
                    pt-2 pt-lg-25 col-12 col-lg-4 d-flex align-items-start
                    justify-content-start flex-column text-left">

                    <h4 href="">Les mains</h4>
                    <ul>
                        <li>Détection de la main</li>
                        <li>Traitement du squelette</li>
                        <li>Application du squelette</li>
                        <li>Analyse des doigts</li>

                    </ul>
                </div>


                <div class="service-section pt-2 pt-lg-25 col-12 col-lg-4 d-flex align-items-start
                    justify-content-start flex-column text-left">

                    <h4>Le langage</h4>
                    <ul>
                        <li>None</li>
                        <li>None</li>
                        <li>None</li>
                        <li>None</li>
                        
                    </ul>
                </div>
                <div class="service-section pt-2 pt-lg-25 col-12 col-lg-4 d-flex align-items-start justify-content-start flex-column text-left">
                    <h4 href="">Croisement des données</h4>
                    <ul>
                        <li>None</li>
                        <li>None</li>
                        <li>None</li>
                        <li>None</li>
                    </ul>
                </div>


 
            </div>
        </div>
    </div>
</div>




