<div class="home-section-services home-section full-section" data-section-name="home-services" data-colour="#1a1a1a" id="section3">
    <div class="home-section-services-inner h-100 d-flex align-items-center">

        <div class="container">
            <div class="row">
  
                <div class="col-12 home-section-service-intro mb-0 text-left">
                    <p>
                        We’re a digital design agency, we help brands define & deliver their story.
                        We build websites, brands & marketing campaigns for clients all over the world.
                    </p>
                </div>                                                                                                                                                                     
                <div class="service-section pt-2 pt-lg-25 col-12 col-lg-4 d-flex align-items-start justify-content-start flex-column text-left">
                    <h4>Digital</h4>
                    <ul>
                        <li>Website design & development</li>
                        <li>eCommerce design & development</li>
                        <li>User Experience & Interface Design</li>
                        <li>User Journey Design</li>
                        <li>Custom Animation</li>
                        <li>Digital strategy</li>
                    </ul>
                </div>
                <div class="service-section pt-2 pt-lg-25 col-12 col-lg-4 d-flex align-items-start justify-content-start flex-column text-left">
                    <h4>Design &amp; Branding</h4>
                    <ul>
                        <li>Art Direction</li>
                        <li>Brand Identity</li>
                        <li>Brand Strategy</li>
                        <li>Tone of Voice</li>
                        <li>Graphic Design</li>
                        <li>Print Design</li>
                        <li>Illustration & Infographics</li>
                        <li>Packaging Design</li>
                    </ul>
                </div>
                <div class="service-section pt-2 pt-lg-25 col-12 col-lg-4 d-flex align-items-start justify-content-start flex-column text-left">
                    <h4>Marketing</h4>
                    <ul>
                        <li>Digital Marketing Campaigns</li>
                        <li>Social Media Marketing</li>
                        <li>Email Marketing</li>
                        <li>Online Advertising / PPC</li>
                        <li>Search Engine Optimising</li>
                        <li>Marketing strategy</li>
                        <li>Content creation</li>
                    </ul>
                </div>


                <div class="service-section pt-2 pt-lg-25 col-12 col-lg-4 d-flex align-items-start justify-content-start flex-column text-left">
                    <h4>Marketing</h4>
                    <ul>
                        <li>Digital Marketing Campaigns</li>
                        <li>Social Media Marketing</li>
                        <li>Email Marketing</li>
                        <li>Online Advertising / PPC</li>
                        <li>Search Engine Optimising</li>
                        <li>Marketing strategy</li>
                        <li>Content creation</li>
                    </ul>
                </div>



            </div>
        </div>
    </div>
</div>
